body {
  font-family: font-awesome;
  background: url(https://upload.wikimedia.org/wikipedia/commons/0/0f/Rainforest_Regenwald_Australia_%2822865104000%29.jpg) no-repeat center; 
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  padding-bottom: 5em;
}

.container1 {
  background-color: #ff9;
  width: 600px;
  margin: auto;
  margin-top: 20px;
  border: solid #003380 5px;
  border-radius: 20px;
  font-family: Cinzel Decorative, Times;
}
  
 h1 {
   margin: 5px;
   font-size: 3em;
   text-align: center;
  }

  #rub {
  color: #fff;
  font-size: 4em;
  text-align: center;  
  /*border: 3px solid red;*/
}

#buddha-container {
  margin-top: 40px;
  text-align: center;
  padding-top: 10em;
  /*border: 3px solid red;*/
  height: 50em;
  width: auto;
  background-image: url("http://res.cloudinary.com/markm/image/upload/v1501628491/luckyBuddha_txfvi9.png"); 
  background-size: 80% 55em;
  background-repeat: no-repeat;
  background-position: 60%;
}

.btn {
  background: #fff;
  color: black;
  font-size: 1.5em;
  width: 7em;
  height: 4em;
  display: block;
  margin: 9em auto 1em 44%;
  border-radius: 60%;
  border-color: rgba(0,0,0, 0.0);
}

#quoteBox {
  margin: 3em 20em 0 auto;
  height: 30em;
  width: 30em;
  /*font-size: 1em;*/
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  /*border: 3px solid red;*/
}

#quoteContainer {
  /*margin-top: 5em;*/
  color: #000;
  height: 20em;
  padding: 20%;
  font-size: 2em;
  text-align: center;  
  /*border: 3px solid red;*/
}

.author {
  font-style: italic;
}


